/* You can add global styles to this file, and also import other style files */

.text-center {
    text-align: center
}

.main {    
    background-color: #20121E;
    height: 100vh;
    width: 100%;
    padding: 25px;    
}
