.panel {
    background: whitesmoke;
    border-radius: 4px;
    padding: 5px 10px;

    a {
        font-size: large;
        color: #000000f2;
    }

    h4{
        display: inline-block;
        width: 85%;
    }

    span {
        margin: 10px;
    }    
}

.disable-edit{
    pointer-events: none;
    opacity: 0.4;
}